/* Universal Styles */

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color:#4a4a4a
}

body {
  background-color: #dbded2;
  line-height: 1;
  margin: 0;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #dbded2;
}

header .content {
  display: flex;
  align-items: center;
  padding:0.25rem 3rem;
}

header .text-logo {
  flex: 1;
  font-family: "Anton";
  font-size: 1rem;
  color: #b1a309;
}

header .logo img{
  height: 1.5rem;
  padding: 5px;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}


nav a {
  vertical-align: bottom;
  font-family: "Anton";
  font-size: 1rem;
  color: #b1a309
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  min-height: fit-content;
}

.banner {
  position: relative;
  top: 3.75rem; /* To offset for fixed header. */
  background-image: url("images/banner.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.banner h3 {
  color:#dbded2;
  font-family: "Anton";
  font-size: 3rem;
  margin-left: 3%;
  margin-bottom: 1%;
}

.contact-button {
  background-color: #b97c6b;
  width: 10%;
  height: 3rem;
  border: none;
  border-radius: 30px;
  margin-left: 3%;
  margin-bottom: 3%;
  color:#dbded2;
  font-family: "Anton";
  font-size: 1rem;
}

/* Portfolio */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b97c6b;
  padding-bottom: 5%;
}

.portfolio h2 {
  color: #dbded2;
  font-family: "Anton";
  padding-top: 7rem;
  font-size: 2rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}

.project h4 {
  color:#dbded2;
  margin-top: 0.5rem;
  font-family: "Anton";
}

.project img {
  height: 300px;
  width: 400px;
  border-radius: 8px;
}

/* Team */

.team {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}

.team h2 {
  color: #b97c6b;
  font-family: "Anton";
  padding-top: 3rem;
  font-size: 2rem;
}

.team-member {
  display: flex;
}

.team-member img {
  width: 250px;
  height: fit-content;
  border-radius: 10px;
}
