/* Universal Styles */

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color:#4a4a4a
}

body {
  background-color: #dbded2;
  line-height: 1;
  margin: 0;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #dbded2;
}

header .content {
  display: flex;
  align-items: center;
  padding:0.25rem 3rem;
}

header .text-logo {
  flex: 1;
  font-family: "Anton";
  font-size: 1.5rem;
  color: #b1a309;
}

header .logo img{
  height: 1.5rem;
  padding: 5px;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}


nav a {
  vertical-align: bottom;
  font-size: 0.85rem;
  color: #b1a309
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
}

.banner {
  position: relative;
  top: 3.75rem; /* To offset for fixed header. */
  background-image: url("images/banner.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 90%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
